.navbar {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #d65d5d;
  max-width:600px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(71, 71, 71, 0.1);
    margin: 2rem auto;
    gap: 15px;
    
}

h4{
  color: #6d6d6d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h5{
  color: #6d6d6d;
}
h3{
  font-size: 18px;
}
textarea{
  width: 80%;
  height: 20%;
}
   label{ 
    width: 80%;
  height: 20%;
}
.klik-aku{
  padding: 5px;
  border-radius: 6px;
}


a{
  font-size: 10px;
  text-decoration: none;
  color: #5a5959;
  font-weight: bold;
 margin-top: 5px;
}
.container-content{
  max-width:600px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    border-radius: 10px;
    padding: 2rem;
  }
  .navbar img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
  }